<ion-header>
  <ion-navbar color="custom">
      <button ion-button class="leftmenubutton" menuToggle="loginleft">
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="text-center">
          {{ language == 'ar' ? 'استعادة كلمة المرور' :'Reset password' }}
      </ion-title>
      <ion-buttons end>
          <button ion-button class="rightmenubutton" menuToggle="loginright">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">

  <form *ngIf="language == 'en'" #loginformen="ngForm" (ngSubmit)="LoginEn(loginformen.value)" id="loginformen" class="en" name="loginformen" enctype="multipart/form-data">
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-user"></i>
              </span>
              <input [(ngModel)]="phone" minlength="10" maxlength="10" type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number"
                  aria-describedby="sizing-addon1">
          </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                  <i class="fa fa-edit"></i>
              </span>
              <input [(ngModel)]="password" type="password" minlength="6" id="password" name="password" class="form-control" placeholder="Password"
                  aria-describedby="sizing-addon2">
          </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                  <i class="fa fa-edit"></i>
              </span>
              <input [(ngModel)]="password2" minlength="6" type="password" id="password2" name="password2" class="form-control" placeholder="Confirm password"
                  aria-describedby="sizing-addon2">
          </div>
      </div>
      <div class="text-center">
          <button ion-button full block type="button" (click)="resetPassword()" color="custom">Reset password</button>
      </div>
  </form>
  <form *ngIf="language == 'ar'" #loginformar="ngForm" (ngSubmit)="LoginAr(loginformar.value)" id="loginformar" class="ar" name="loginformar" enctype="multipart/form-data">
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-user"></i>
              </span>
              <input dir="rtl" [(ngModel)]="phonee" minlength="10" maxlength="10" type="text" id="phonee" name="phonee" class="form-control" placeholder="رقم الهاتف"
                  aria-describedby="sizing-addon1">
          </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                  <i class="fa fa-edit"></i>
              </span>
              <input dir="rtl" [(ngModel)]="passwordd" minlength="6" type="password" id="passwordd" name="passwordd" class="form-control" placeholder="كلمة المرور"
                  aria-describedby="sizing-addon2">
          </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                  <i class="fa fa-edit"></i>
              </span>
              <input dir="rtl" [(ngModel)]="passwordd2" minlength="6" type="password" id="passwordd2" name="passwordd2" class="form-control" placeholder="تأكيد كلمة المرور"
                  aria-describedby="sizing-addon2">
          </div>
      </div>
      <div class="text-center">
          <button ion-button full block type="button" (click)="resetPassword()" color="custom">تحديث كلمة المرور</button>
      </div>
  </form>
</ion-content>