page-trips {
    #requesttripformar input {
        padding: 6px 26px !important;
    }
    #requesttripformar select {
        padding: 6px 26px !important;
    }
    .black {
        color: black;
    }
    
}
