page-seats {
    .invisible {
        color:transparent;
        border:none;
    }
    .red {
        background-color:red !important;
    }
    .yellow {
        background-color:rgba(255, 255, 0, 0.733) !important;
    }
    .orange {
        background-color: orange;
    }
    .blue {
        background-color:blue !important; 
    }
    
    .img {
        height:200px !important;width:100% !important;
    }
    
    }
    